h1{color: White;
font-family: FunSized;
text-size: 60}

body{color: Black; font-family: ; background-color: Black; font-size :}

table{color: Yellow; font-family:a song for jennifer; background-color: ;
font-size : 30}
