body{text-align: right;color: white; font-family:Avenir Next LT Pro ; font-color: white; font-size :6}

h1{color: white; font-family:Avenir Next LT Pro; background-color: ;
font-size : 12; line-height: 3px;}

table{color: #252525; font-family:Avenir Next LT Pro; background-color: ;
font-size : 18}

p{text-align: center; color: #252525; font-family:Avenir Next LT Pro ; font-color: white; font-size :30}